:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color); 
    font-family: "Roboto", sans-serif;  
    font-weight: 400;
    letter-spacing: 0,03em;

}
.list {
    list-style: none;
}
/* Шапка */
.logo {
    color: var(--title-text-color) ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo span {
    color: var(--accent-color);
}


.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-color);
}

.contacts .link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color); 
}

.current:hover,
.current:focus {
    color: var(--accent-color);
}

/* Герой */

.hero .hero-btn {
    font-family: inherit;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero-title {
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Преимущества */

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.benefits-text {  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/* Услуги */

.service-title,
.team-title, 
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
}

/* Team */

.section-team {
    background-color: #F5F4FA;
    }

.list .title {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        
}
    
.list .text {
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
}


/* Footer */

.footer .logo {
    color: var(--primary-bg-color);
}

.logo span{
    color: var(--accent-color);
}

.footer, .hero {
    background-color: #2F303A;
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer .link:hover,
.footer .link:focus {
   color: var(--accent-color);
}
.footer .address-text {
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Portfolio styles */

.projects-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }

.projects-btn:hover,
.projects-btn:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.container .projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.container .projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
